*{
    padding:0;
    margin:0;
    font-family: poppins;
    box-sizing: border-box;
}
.nav{
    background: linear-gradient( rgb(0, 47, 255),rgb(18, 147, 106));
    width: 100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
font-size: 50px;
font-weight: bold;
margin-bottom: 20px;
}
span{
    color: crimson;
}

textarea{
    width:540px;
    height:230px;
    padding:10px;
    border: 0;
    border-radius: 10px;
    background-color: blueviolet;
    color: aliceblue;
    margin-bottom: 20px;
}
textarea::placeholder{
    color: aqua;
    font-size: 16px;
}
select{
    border-radius: 20px;
    border: 0;
   height: 36px;
   width:420px;
}
button{
background:crimson;
width:100px;
height:36px;
padding: 5px;
margin-left: 7px;
border-radius: 200px;
border: 0;
}

    